.hamburger {
    display: none;
}

.navbar {
    height: 100vh !important;
    padding: 0 2%;
    min-height: 100vh;
    justify-self: center;
    overflow-y: auto;
    position: fixed;
    left: 0;
    }

.nav-link {
    width: 310px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px 30px;
    text-align: center;
    background-color: #0a99c3;
    border-radius: 10px 100px / 120px;
}

.projects {
    @extend .nav-link;
    width: 270px;
    background-color: #044c62;
    margin: 0 0 10px 40px;
    padding: 15px 20px;
}

.project {
    @extend .nav-link;
    width: 230px;
    background-color: #0084ab;
    margin: 0 0 10px 80px;
    padding: 10px;
}

@media (max-width: 768px) {

    // Navbar Section
    .navbar {
      margin: 0 !important;
      padding: 0 !important;
      background-color: transparent !important;
      min-width: 100vw;
      height: 100vh;
      z-index: 1;
    }
  
    .hamburger {
      display: block !important;
      padding: 10px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2000;
    }
  
    .nav-links {
      width: 100vw;
      height: 100vh;
      position: absolute;
      left: -200%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 1s linear;
    }
  
    .nav-links.active {
      margin: 0;
      left: 0;
      transition: all 1s linear;
      z-index: 1;
      background-color: rgb(39, 33, 33);
    }
}
