:root {
  --dark-bg-color: #232323;
  --text-light-color: #f5f5f5;
  --secondary-txt-color: #5c86ff;
  --main-btn-bg-color: #5c86ff;
  --main-btn-bg-hover-color: #3968f8;
  --main-btn-txt-color: #f5f5f5;
  --bgColorMenu: #272727;
  --bg-header-menu-active: #272727;
  --carousel-item-bg:#303030;
  --main-img-bg-color: #5c86ff;
  --main-input-bg-color: #404040;
  --main-input-text-color: #f5f5f5;
  --main-cursor-color: #3c67e9;
}
