

<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Kontakt</div>
            
            
            <p class="paragraph-text justify-text">
          
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            
                
            </p>
           <!-- <p class="paragraph-text justify-text">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum: <a href="mailto:{{ site.email }}">{{ site.email }}</a> (<a href="">PGP Key</a>). It might take me a day to get back, but rest assured, you'll hear from me.
            </p>
            <p class="paragraph-text justify-text">
            </p> -->
         
           
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
               
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Web Blog">
                    <a href="{{ site.blog_url }}"><i class="head-icon fas fa-rss"></i></a>
                </span>
               
               <!--  <span class="hint--bottom bottom-link" aria-label="Keybase">
                    <a href="https://keybase.io/{{ site.keybase_username }}"><i class="head-icon fab fa-keybase"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Reddit">
                    <a href="https://www.reddit.com/u/{{ site.reddit_username }}"><i class="head-icon fab fa-reddit"></i></a>
                </span> -->
                <span class="hint--bottom bottom-link" aria-label="Twitter">
                    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="head-icon fab fa-twitter"></i></a>
                </span> 

            </div>
        </div>
    </section>
</div>
