<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projekte</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">Alle</a>
                    <a id="webdev" class="semi-transparent-button with-border white-button" onclick="selected('webapp')">WebApp</a>
                    <a id="native" class="semi-transparent-button with-border white-button" onclick="selected('java')">Java</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">Security</a>
                    <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('DYI')">PHP</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
