.body{
    
    
     flex: 0.9;
    display: flex;
    color: black;
    padding: 20px;
    height:100vh;
    background-image: url('../images//mainbg9.jpg');
    background-repeat: repeat;
    font-family: 'Sansita Swashed', cursive;
    
}
.mypic{
    width: 160px;
    height: 160px;
    border-radius: 100px;
    
    border: 4px solid black;

}
.pics{
    padding-left: 30px;
    display: block;
    margin:auto;
    
}
