/* Projects Section */
.project-items {
    min-height: 100vh;
    width: 100vw;
    background-color: #7bb2b6;
  
    .projects-title {
        font-family: cursive;
        font-size: 60px;
        font-weight: 100 !important;
        font-style: italic;
    }
  
    .project-item {
        height: 300px;
  
        a {
            width: 600px;
        }
    
        h3 {
            font-size: 30px;
            padding-top: 20px;
            font-family: 'Dancing Script',
            cursive;
        }
  
        img {
            width: 300px;
            height: 150px;
        }
  
        &:nth-child(even) a {
            flex-direction: row-reverse;
        }
    }
}

@media (max-width: 768px) {
// Projects Section
    .project-items {

        .projects-title {
            margin: 0;
            margin-top: 1.5rem;
            font-size: 2rem;
            padding: 10px;
        }

        .project-item {
            margin: 0;
            display: inline-block;

            h3 {
                font-size: 1.5rem;
                margin: 0;
                padding: 0;
            }

            img {
                width: 250px;
                height: 150px;
                margin: 0;
                padding: 0;
            }

            &:nth-child(even) img {
                margin: 0;
            }
        }
    }
}