@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tags-cloud {
  width: 420px;
  height: 420px;
  position: relative;
  list-style: none;
  opacity: 0;
}

.tags-cloud.-loaded {
  -webkit-animation: fadeIn 1s ease-out forwards;
  animation: fadeIn 1s ease-out forwards;
}

.tags-cloud > .tag {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4vmin;
  font-weight: bold;
  transition: transform 0.5s linear, opacity 0.5s linear;
}

.tags-cloud > .tag > .wrap {
  display: inline-block;
  transform: translateX(-50%) translateY(-50%);
}
